<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>登录豆瓣</title>
		<link rel="stylesheet" href="/stylesheets/registor.css" type = "text/css"/>
		<script type = "text/javascript" src = "/javascripts/require.js" defer async="true" data-main = "/javascripts/login_main"></script>
	</head>
	<body>
		<!--网页头部-->
		<div class="header">
			<div class="single-nav">
				<a href="#">
					<img src="/images/lg_account.png"/>
				</a>
			</div>
		</div>
		<!--网页main部分-->
		<div class="wrapper">
			<h1>登录豆瓣</h1>
			<div class="article">
				<form action="/users/login" method="post">
					<div class="item extra-tips">
						<label>账号</label>
						<input type="text" id = "account" class="basic-input" name = "account" value="" placeholder="邮箱/手机号/用户名"/>
						<span class="validate-error accountError err" OK = "false" style = "display: none;"></span>
					</div>
					<div class="item extra-tips has-error">
						<label>密码</label>
						<input type="password" name = "password" id = "password" class="basic-input pwd">
						<span class="validate-error pwdError err" OK = "false" style = "display: none;"></span>
					</div>
					<div class="item-submit">
						<label>&nbsp;</label>
						<input type="submit" name = "login" id = "login" value = "登录" class="btn-submit enabled"/>
					</div>
				</form>
			</div>
			<div class="aside">
				<ul class="sidenav">
					<li>>&nbsp;还没有豆瓣账号？<a rel = "nofollow" href="/registor">立即注册</a></li>
					<li>>&nbsp;<a href="#">点击下载豆瓣移动应用</a></li>
				</ul>
			</div>
		</div>
		<!--网页footer-->
		<div class="footer">
			<div id = "footer">
				<span class="fleft gray-link">
    		©&nbsp;2005－2017 douban.com, all rights reserved</span>
    			<span class="fright">
					<a href="#">关于豆瓣</a>
					<a href="#">在豆瓣工作</a>
					<a href="#">联系我们</a>
					<a href="#">免责声明</a>
					<a href="#">帮助中心</a>
					<a href="#">开发者</a>
					<a href="#">移动应用</a>
					<a href="#">豆瓣广告</a>
				</span>
			</div>
		</div>
	</body>
</html>